--index-url=https://blpapi.bloomberg.com/repository/releases/python/simple/
blpapi; sys_platform != "darwin" or platform_machine != "x86_64"
blpapi==3.23.1; sys_platform == "darwin" and platform_machine == "x86_64"